/* Variables and mixins declared here will be available in all other SCSS files */


$header-font:'Quintessential', serif;
$other-font:serif;

$bg:#212B34;
$bg2:#0D1114;
$off-white:#F5F5F5;
$accent: #F7DB5D;

$h1-font-size: clamp(40px,10vw,96px);
$h2-font-size: clamp(32px,4vw,64px);
$h3-font-size: clamp(24px,3vw,30px);
$h4-font-size: clamp(18px, 2.3vw, 36px);
$base-font-size: clamp(18px,2vw,22px);
$mini-font-size: clamp(14px,1.2vw,18px);

$box-shadow: 4px 4px 0px #000000ab;

$bottom-menu-height: 3rem;

/* Breakpoints */

$breakpoint-1: 550px;
$breakpoint-2: 700px;
$breakpoint-3: 900px;
$breakpoint-4: 1400px;
$breakpoint-1-1: calc($breakpoint-1 - 1px);
$breakpoint-2-1: calc($breakpoint-2 - 1px);
$breakpoint-3-1: calc($breakpoint-3 - 1px);
$breakpoint-4-1: calc($breakpoint-4 - 1px);